html > * {
    font-family: 'Ubuntu', sans-serif;
}

label, .menu button {
    font-size: 20px;
    background: transparent;
    border: 0px;
    font-weight: normal;
}

.menu button {
    width: 100%;
    height: 75px;
    background: white;
    color: black;
}

.menu button:hover {
    background: #f2f2f2ee;
}

.buttonList {
    background: url("../img/black-white-modern-home-chess.jpg") no-repeat; 
    background-size: cover;
    padding: 0px;
    margin-top: 52px;
}

#loginMenu {
    background-size: 100%;
    padding: 0px;
    width: 310px;
}

.label-input {
    padding-bottom: 20px;
    background: white;
    color: black;
}

.card-body {
    padding: 10px;
}

.board-square {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589F;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    border: 0;
    padding: 0;
}

.board-square:focus img {
    box-shadow: 0px 0px 5px 3px orange;
    position: relative;
    z-index: 1;
}

.board-square-container {
    position: relative;
}

.board-square-container > .board-square:focus {
    box-shadow: 0px 0px 5px 3px orange;
    z-index: 1;
    outline:none;
}

#gameList {
    background: url("../img/chess-knight-vector-clipart.png") no-repeat; 
    background-size: contain;
    background-position: center; 
}

#gameList * {
    font-size: 20px;
    color: black;
}

#gameList tr, #gameList thead {
    background: #fffffff8;
}


#gameList tr:hover, #gameList thead:hover {
    background: #ffffffdd;    
}
