html > * {
    font-family: 'Ubuntu', sans-serif;
}

label, .menu button {
    font-size: 20px;
    background: transparent;
    border: 0px;
    font-weight: normal;
}

.menu button {
    width: 100%;
    height: 55px;
    background: white;
    color: black;
    margin-bottom: 15px;
}

.menu button:hover {
    background: #f2f2f2ee;
}

.buttonList {
    padding: 0px;
}

#loginMenu {
    background-size: 100%;
    padding: 0px;
}

#loginMenu, #loginMenu .card-header {
    border: 0px;
    background: white;
}

h1 {
    font-family: 'Inknut Antiqua', serif;
}

.label-input {
    padding-bottom: 20px;
    background: white;
    color: black;
}

.card-body {
    padding: 10px;
}

.board-square {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589F;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    border: 0;
    padding: 0;
}

.board-square:focus img {
    box-shadow: 0px 0px 5px 3px orange;
    position: relative;
    z-index: 1;
}

.board-square-container {
    position: relative;
}

.board-square-container > .board-square:focus {
    box-shadow: 0px 0px 5px 3px orange;
    z-index: 1;
    outline:none;
}

#gameList {
    background: url("../img/chess-knight-vector-clipart.png") no-repeat; 
    background-size: contain;
    background-position: center; 
}

#gameList thead tr th {
    font-size: 20px;
    color: black;    ;
}

#gameList > tbody {
    font-size: 16px;
}

#gameList tr {
    background: #fffffff8;
}


#gameList tr:hover {
    background: #ffffffdd;    
}

tbody a {
    text-decoration: none !important;
}
