html > * {
    font-family: 'Ubuntu', sans-serif;
}

label, .menu button {
    font-size: 20px;
    background: transparent;
    border: 0px;
    font-weight: normal;
}

.menu button {
    width: 100%;
    height: 70px;
    background: white;
}

.menu button:hover {
    background: #f2f2f2ee;
}

.buttonList{
    background: url("img/black-white-modern-home-chess.jpg") no-repeat; 
    background-size: cover;
    padding: 0px;
}

#loginMenu {
    margin-top: 20px;
    background-size: 100%;
    padding: 0px;
}

.label-input {
    padding-bottom: 20px;
    background: white;
    color: black;
}

.card-body {
    padding: 10px;
}



